.main-container-trancript {
  margin: 20px auto;
  margin-top: 0px;
  padding: 20px;
  width: 45vw;
  box-shadow: 0rem 0rem 3rem 1rem #f5f1f1;
  background-color: #f9f9f9;
}

h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.main-transcript {
  font-family: sans-serif;
  height: 154px;
  margin-bottom: 20px;
}

button {
  background-color: rgb(83, 198, 233);
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px; /* Add margin-bottom for spacing between buttons */
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(83, 198, 233);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
